@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$Nutmeg: hsl(14, 45%, 36%);
$Dark_Raspberry: hsl(332, 51%, 32%);
$White: hsl(0, 0%, 100%);
$Rose_White: hsl(330, 100%, 98%);
$Eggshell: hsl(30, 54%, 90%);
$Light_Grey: hsl(30, 18%, 87%);
$Wenge_Brown: hsl(30, 10%, 34%);
$Dark_Charcoal: hsl(24, 5%, 18%);
$Weight: 400, 600, 700;
$Fonts: "Young Serif", "Outfit";
$margin_block: 0;

@mixin flex-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* Basics */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
    $margin_block: min(1rem, calc((100vw - 375px) / 2)) !global;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.wrap {
    white-space: wrap;
}
/* Here we go */
body {
    min-height: 100vh;
    background-color: $Rose_White; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main, figure {
    width: max(375px, 50%);
}
figure {
    background-color: $White;
    display: flex;
    padding-top: min(2rem, calc((50vw - 375px) / 2));
    justify-content: center;
}
img {
    width: max(calc(50vw - 4rem), 375px);
    height: auto;
}
main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: $White;
    gap: 2rem;
}
.description, .preparation-time, .ingredients, .instructions, .nutrition {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
h1, h2, h4 {
    font-family: nth($Fonts, 1);
}
h1 {
    font-size: 2rem;
    line-height: 2rem;
}
li {
    list-style-position: outside;
    margin-left: 1.5rem;
}
ul, ol {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
p, li, .nutrition-name {
    font-family: nth($Fonts, 2);
    font-weight: nth($Weight, 1);
    color: $Wenge_Brown;
}
.bolder {
    font-weight: nth($Weight, 3);
}
.instructions, .nutrition {
    border-top: 1px solid $Light_Grey;
    padding-top: 2rem;
}
.preparation-time {
    padding: 1rem;
    background-color: $Rose_White;
    width: max(calc(375px - 4rem), calc(50vw - 4rem));
    border-radius: 10px;
}
h4 {
    color: $Dark_Raspberry;
}
.preparation-time li::marker {
    color: $Dark_Raspberry;
}
h2 {
    color: $Nutmeg;
}
.ingredients, .instructions, .nutrition {
    li::marker {
        color: $Nutmeg;
        font-weight: nth($Weight, 2);
    }
}
li {
    padding-left: 0.75rem;
}
.nutrition-amount {
    font-weight: nth($Weight, 2);
    color: $Nutmeg;
    font-family: nth($Fonts, 2);
}
tr {
    display: flex;
    border-top: 1px solid $Light_Grey;
    justify-content: space-between;
    padding-block: 0.75rem;
    width: max(calc(375px - 4rem), calc(50vw - 4rem));
}
tr:first-of-type {
    border: none;
}
img {
    border-radius: 10px;
}
main {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
figure {
    margin-top: $margin_block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
main {
    margin-bottom: $margin_block;
}
@media screen and (width: 375px) {
    img {
        border-radius: 0px;
    }
}