@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  background-color: hsl(0, 0%, 8%);
  color: white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

figure {
  width: 100px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
  border-radius: 15px;
  padding: 1.5rem;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.75rem;
  width: 90%;
}

button {
  display: block;
  border: none;
  background-color: white;
  background-color: hsl(0, 0%, 20%);
  color: inherit;
}

.name {
  font-weight: 700;
  font-size: 1.5rem;
}

.location {
  font-weight: 600;
  color: hsl(75, 94%, 57%);
}

button {
  font-weight: 400;
  border-radius: 10px;
  padding-block: 0.75rem;
  width: 100%;
}

button:hover {
  color: hsl(0, 0%, 8%);
  background-color: hsl(75, 94%, 57%);
}