@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$Font_size: 15px;
$Weights: 200, 400, 600;
$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);
$Very_Dark_Blue: hsl(234, 12%, 34%);
$Grayish_Blue: hsl(229, 6%, 66%);
$Very_Light_Gray: hsl(0, 0%, 98%);
$Font: "Poppins";

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background-color: $Very_Light_Gray;
    @include flex-column;
    justify-content: center;
    align-items: center;
    font-family: $Font;
}
main {
    @include flex-column;
    align-items: center;
    gap: 3.5rem;
    padding: 1.5rem;
}
header {
    @include flex-column;
    align-items: center;
    gap: 0.5rem;
}
.qualities {
    color: $Very_Dark_Blue;
    font-weight: nth($Weights, 1);
    font-size: 1.5rem;
}
.powered {
    font-weight: nth($Weights, 3);
    font-size: 1.5rem;
    color: $Very_Dark_Blue;
}
.header-description {
    text-align: center;
    color: $Grayish_Blue;
    font-weight: nth($Weights, 2);
}
section {
    @include flex-column;
    gap: 1rem;
}
.card-container {
    @include flex-column;
    gap: 1rem;
}
.card {
    padding: 1rem;
    @include flex-column;
    gap: 0.75rem;
    align-items: flex-start;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 10px 10px 15px -15px $Cyan, -10px 10px 15px -15px $Cyan;
    border-radius: 10px;
}
h2 {
    font-weight: nth($Weights, 3);
    font-size: 1.25rem;
    color: $Very_Dark_Blue;
}
.card-description {
    color: $Grayish_Blue;
    font-weight: nth($Weights, 2);
    font-size: 0.80rem;
}
.card-image {
    width: 100%;
    display: flex;
    justify-content: right;
}
.aqua {
    border-top: 3px solid $Cyan;
}
.red {
    border-top: 3px solid $Red;
}
.yellow {
    border-top: 3px solid $Orange;
}
.blue {
    border-top: 3px solid $Blue;
}
@media screen and (min-width: 1024px) {
    section {
        flex-direction: row;
        gap: 2.5rem;
    }
    .card {
        width: 20vw;
    }
    .card-container {
        justify-content: center;
    }
}